// colors
$primary: #CDA274;
$secondary: #292F36;
$third: #F4F0EC;

$containerWidthDesktop: 1200px;

$primary-font: "Jost", serif;
$secondary-font: "DM Serif Display", serif;

// font size
$font-size-xxs: 18px;
$font-size-xs: 20px;
$font-size-sm: 22px;
$font-size-md: 25px;
$font-size-lg: 35px;
$font-size-xl: 50px;
$font-size-xxl: 85px;